@keyframes top-block-start {
    0% {
        width: 0;
    }
    50% {
        width: 47%;
    }
    100% {
        width: 95%;
    }
}
@keyframes top-block-scroll {
    0% {
        width: 0;
    }
    50% {
        width: 500px;
    }
    100% {
        width: 1024px;
    }
}


